

.navbar {
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,.0975);
  height: 77px;
}

.core-sprite {
  background-image: image-url("core-sprite-2x.png");
  background-size: 405px 379px;
  background-repeat: no-repeat;
}

.navbar-brand {
  background-position: -176px 0;
  height: 35px;
  width: 176px;
}

.hide-text {
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}

.explore-icon {
  background-position: -50px -355px;
  height: 24px;
  width: 24px;
}

.notification-icon {
  background-position: -353px -298px;
  height: 24px;
  width: 24px;
}

.profile-icon {
  background-position: -308px -176px;
  height: 24px;
  width: 24px;
}

.nav-item:not(:first-child) {
  margin-left: 30px
}



.profile-tab {
  margin-top: 80px;

  .nav-tabs {
    border : 0;
    border-top: 1px solid #ddd;


   .nav-item {
    border-radius:0;
    border:0;
    border-top: 1px solid transparent;
    margin-top: -1px;
    padding: 10px 0;
    background: transparent;
    font-weight: bold;
    color: #999;
  }

  .nav-item.active {
    color: #262626;
    border-top: 1px solid #262626;
   }
  }

  .post-stat{
    position: absolute;
    color: white;
    font-size: 18px;
    font-weight: bold;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    top: 0;
    opacity: 0;
  }

  .col-4:hover .post-stat {
    background-color: rgba(0,0,0,.3);
    opacity:1;
  }

  .image-preview {
    margin-bottom: 30px;
  }
}
